<ion-view view-title="Produtos">
    <ion-content>
        <ion-list>
            <ion-item href="#/produtos/1">Produto 1</ion-item>
            <ion-item href="#/produtos/2">Produto 2</ion-item>
            <ion-item href="#/produtos/3">Produto 3</ion-item>
            <ion-item href="#/produtos/4">Produto 4</ion-item>
            <ion-item href="#/produtos/5">Produto 5</ion-item>
            <ion-item href="#/produtos/6">Produto 6</ion-item>
            <ion-item href="#/produtos/7">Produto 7</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
